.project-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    height: 54px;
}

img {
    object-fit: cover;

}

.card-bg {
    background-color: red;
    height: 50vmax;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('/images/default_thumbnail.png');
    margin-bottom: 44px;
}

.info-card {
    width: 60%;
    min-width: 300px;
    background-color: yellow;
    padding: 24px;
    box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.609);
    transform: translateY(24px);

}

.tag {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 25px;
    padding: 8px 12px;
    margin: 2px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin: 2px;
}

.info-body {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.date {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-left: 0px;
    margin-bottom: 10px;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin: 14px 6px;
}