.project-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    height: 54px;
}

.tag {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 25px;
    padding: 8px 12px;
    margin: 2px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin: 2px;
}

.info-body {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.date {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-left: 0px;
    margin-bottom: 10px;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin: 14px 6px;
}