.bio {
    color: white;
    height: 120px;
    max-width: 600px;
    margin: 0px auto;
    display: flex;
}

.profile-pic {
    max-width: 140px;
    height: 100%;
}

.bio-bg {
    background-image: url('https://i.imgur.com/3qtZwVX.png');
    min-height: 2000px;
    width: 3000px;
}