.Profile {
    padding: 2rem;
    min-height: 4vmin;
    color: #7b659e;
    margin: 0px;
    padding:3em;
    margin-bottom: 1em;
    background: linear-gradient( white, white, rgba(255, 255, 255, 0));

}

.profile-info {
    font-weight: 300;
    margin: 8px 22px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.profile-name {
    margin-top: 2px;
    margin-bottom: 14px;
    transform: translateY(-18px);
    width: 100%;
}