.Profile {
    padding: 2rem;
    min-height: 4vmin;
    color: #7b659e;
    margin: 0px;
    padding:3em;
    margin-bottom: 5em;
    background: linear-gradient( white, white, rgba(255, 255, 255, 0));

}

.profile-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.profile-name {
    margin: 4em;
    margin-top: 2px;
}