.admin-title {
    min-height: 120px;
    padding: 20px 0px;
    margin: 44px;
    color:#7b659e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
