:root {
  --purple: #866fac;
  --bg-purple: #cab9e4;
  box-sizing: border-box;
}

html {

  background-color: var(--bg-purple);
  margin-bottom: 0px;
  padding-bottom: 45px;
  min-height: 600px;
}

.App {
  text-align: center;
  max-width: 1000;
  margin-top: 0px;
}

.headline {
  text-align: left;
  line-height: .7;
  font-family: 'Permanent Marker', cursive;
  font-size: 6em;
  margin: 6px;
  color: var(--purple);
  transform: skew( 0deg, -5deg);

}