:root {
  --purple: #866fac;
  --bg-purple: #cab9e4;
  box-sizing: border-box;
}

html {

  background: linear-gradient( white, white, var(--bg-purple), var(--bg-purple),var(--bg-purple), white);
  background-repeat: no-repeat;
  margin-bottom: 0px;
  padding-bottom: 45px;
  min-height: 600px;
}

.App {
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
}

.headline {
  text-align: left;
  line-height: .7;
  font-family: 'Permanent Marker', cursive;
  font-size: 6rem;
  margin: 6px;
  color: var(--purple);
  transform: skew( 0deg, -5deg);

}