.project-list {
    max-width: 1200px;
    margin: 1em auto;
}

@media (min-width: 500px) {
    .project-list {
        padding: 2em 2em;
        /* margin: 2em 3em; */
    }
}

@media (max-width: 500px) {
    .project-list {
        padding: 2em 1.2em;

        /* margin: 6em 1.2em; */
    }
}